.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.address-searcher-container {
  margin-top: 20px;
  margin-bottom: 5px;
  background-color: #eeeeee;
  width: 511px;
  height: 100px;
  padding: 10px;
}


.address-display-container {
  background-color: #eeeeee;
  height: 300px;
  width: 511px;
}

.address-searcher-title {
  position: relative;
  float: left;
}
